<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TGP</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

				
      <a class="nav-item nav-link" href="/team">Team</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>

    </div>
  </div>
</nav>

</br>
<div style="color: red; font-size: 20px; padding-left: 50px"> Secret Section</div><br>
<div style="padding-left: 50px">WELL DONE</div>
<h1 style="padding-left: 50px">Welcome <%= @user %> !!</h1>
<div style="padding-left: 50px">Ici c'est notre super site de potins, il est chouette, non ?</div>

