
<h1>Contact Us</h1>

<div class="card border-dark mb-3" style="width: 18rem;">
  <div class="card-body text-dark">
    <h5 class="card-title">TEL</h5> <!--gossip[:title]-->
    <p class="card-text">0603249261</p> <!--gossip[:author]-->
  </div>
</div>

<div class="card border-dark mb-3" style="width: 18rem;">
  <div class="card-body text-dark">
    <h5 class="card-title">ADDRESS</h5> <!--gossip[:title]-->
    <p class="card-text">23 rue des anges<br>75008 Paris</p> <!--gossip[:author]-->
  </div>
</div>
